@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


@font-face{
    font-family:FuzzyBubbles;
    src: url(./fonts/Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf);
}


body{
    border: 1px dashed plum;
    background-image: url(./images/abstract-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    border-radius: 80px;
}

.name-face{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

h1{
    font-size:larger;
    font-style: italic;
    color: aliceblue;
}

p{
    font-family: FuzzyBubbles;
    margin-left: 2px;
    color: aliceblue;
}

h2{
    font-size:larger;
    font-style: italic;
    color: aliceblue;
}

.list{
    font-family:'Dancing Script', cursive;
    color: aliceblue;
}